<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wanwanframework.jdbc.mybatis.dao.IMEIFeedbackMapper">

	<!--月报表数据总数查询-->
    <select id="queryCountByProvince" resultType="org.wanwanframework.jdbc.mybatis.IMEIFeedbackVo" parameterType="java.util.Map">
    	select t.provinceid as province, count(1) as total from tf_imei_separate_month t group by t.provinceid 
    </select>
	
</mapper>